<div class="w-full h-full flex justify-center items-center">
    <div class="w-[60%] h-[70%] p-1 rounded-xl bg-white">
        <div class="w-full h-full bg-slate-50/0 rounded-xl flex gap-1">
            <div class="w-1/2 h-full bg-slate-800 rounded-lg flex justify-center items-center">
                <div class="h-[40%] w-[45%]">
                    <img class="w-full h-full" src="../../../assets/AQUTEST.png" alt="" srcset="">
                </div>
            </div>
            <div class="w-1/2 h-full bg-white rounded-xl shadow-xl flex flex-col p-6 gap-2 items-center justify-center">
                <div class="w-36 h-9 mb-3">
                    <img class="w-full h-full" src="../../../assets/excelec.png" alt="">
                </div>
                <div class="w-full h-8 text-center">
                    <h1 class="text-xl text-slate-800">!Bienvenido a Aqutest!</h1>
                </div>
                <div class="w-full h-11"></div>
                <div class="w-full h-11 mb-6">
                    <label for="" class="text-slate-800">Correo Electronico</label>
                    <input type="text" class="w-full h-9 border border-slate-300 rounded-md p-2" placeholder="Correo Electronico">
                </div>
                <div class="w-full h-11 mb-9">
                    <label for="" class="text-slate-800">Contraseña</label>
                    <input type="text" class="w-full h-9 border border-slate-300 rounded-md p-2" placeholder="Contraseña">
                </div>
                <div class="w-full h-11 flex items-center justify-center rounded-md">
                    <button class="w-1/2 h-full bg-slate-800 text-white rounded-md">Iniciar Sesion</button>
                </div>
                <div class="w-full h-11">
                    <div class="w-full h-11 flex items-center justify-center">
                        <a href="" class="text-slate-800 text-xs">¿Olvidaste tu contraseña?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
